<div class="header">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
            <form class="card ">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <i class="bi bi-search"></i>
                    </div>
                    <!--end of col-->
                    <div class="col p-0">
                        <input class="p-0" type="search" placeholder="Search">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12 col-md-6 col-lg-6 justify-content-end d-flex align-items-center">
            <div class="dark-mode">
                <span class="bi bi-brightness-high active" data-theme="light"></span>
                <span class="bi bi-moon" data-theme="dark"></span>
            </div>
            <div class="dropdown theme-language">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i><img
                            src="../../../assets/images/en.png" alt="icon"></i></a>
                <ul class="dropdown-menu" id="language">
                    <li class="active"><a class="dropdown-item" href="#"><i><img src="../../../assets/images/en.png"
                                    alt="icon"></i>English</a></li>
                    <li><a class="dropdown-item" href="#"><i><img src="../../../assets/images/ar.png"
                                    alt="icon"></i>Arabic</a></li>
                </ul>
            </div>
            <div class="notification dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="bi bi-bell"></i></a>
                <ul class="dropdown-menu" data-popper-placement="bottom-start">
                    <li class="active"><a class="dropdown-item" href="#">list 1</a></li>
                    <li><a class="dropdown-item" href="#">list 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>