<div class="row fields-h1 organisation-fields">
    <div class="table-main">
        <div class="table-loader">
            <table class="table table-bordered text-center table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"><span>Name</span></th>
                        <th scope="col"><span>Role</span></th>
                        <th scope="col"><span>Phone</span></th>
                        <th scope="col"><span>Mobile</span></th>
                        <th scope="col"><span>Email</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="staff-information.html">Vigneshbabu</a> </td>
                        <td>Admin</td>
                        <td></td>
                        <td></td>
                        <td>vignesh.babuvjhsoftware.in</td>
                    </tr>
                    <tr>
                        <td><a href="#">Anand</a></td>
                        <td>Admin</td>
                        <td></td>
                        <td></td>
                        <td>anandvjhsoftware.in</td>
                    </tr>
                    <tr>
                        <td><a href="#">Karthik</a></td>
                        <td>Support engineers</td>
                        <td></td>
                        <td></td>
                        <td>karthickgegosoft.com</td>
                    </tr>
                    <tr>
                        <td><a href="#">Karthik</a></td>
                        <td>Admin,Super users & Client services,Accountants/Bookkeepers</td>
                        <td></td>
                        <td></td>
                        <td>karthickgegosoft.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <span class="page-link"><i class="bi bi-arrow-left"></i></span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="bi bi-arrow-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>