<div class="sidebar">
    <div class="toggle">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo.png">
                <h2>Worksheet</h2>
            </a>
        </div>
        <div id="close-btn" class="close">
            <span class="bi bi-chevron-left"></span>
        </div>
    </div>
    <div class="profile-section">
        <img src="../assets/images/profile.png" alt="icon" />
        <h6>Vignesh Babu</h6>
        <p>Admin</p>
    </div>
    <ul class="main-menu">
        <li *ngFor="let menu of menus" class="tooltip" [attr.data-tooltip]="menu.label" data-tooltip-pos="right"
            (click)="onMenuClick(menu.key)">

            <a [ngClass]="{ 'active': selectedMenu === menu.key }">
                <i [class]="menu.icon"></i>
                <h5>{{ menu.label }}</h5>
            </a>
        </li>

        <li class="logout">
            <a>
                <i class="bi bi-power"></i>
                <h5>Logout</h5>
            </a>
        </li>
    </ul>
</div>